/* Importing the Roboto font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.mars-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 20px;
  background-color: #FED0AC;
}

@media (min-width: 768px) {
  .mars-container {
    flex-direction: row;
    justify-content: space-around;
    padding: 10px 40px;
  }
}

.image-section {
  text-align: right;
  color: #707070;
}

.image-section img {
  height: 60vmin;
  pointer-events: none;
  margin-bottom: 5px;
}

.text-section {
  text-align: center;
  color: #707070;
  padding: 20px;
}

.text-section h1 {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: calc(24px + 2vmin);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #FE6A01;
}

.text-section p {
  font-family: 'Roboto', sans-serif;
  font-size: calc(14px + 1vmin);
  margin: 10px 0;
}

.get-started-button {
  background-color: #FE6A01;
  color: white;
  border: none;
  padding: 10px 20px;
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.get-started-button:hover {
  background-color: #e39555;
}
