#root {
  width: 100%;
  margin: 0;
  padding: 0;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.image-section img {
  height: 60vmin;
  pointer-events: none;
  margin-bottom: 5px;
}

.text-section {
  text-align: center;
  color: #707070;
  padding: 20px;
}

.text-section h1 {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: calc(24px + 2vmin);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #FE6A01;
}

.text-section p {
  font-family: 'Roboto', sans-serif;
  font-size: calc(14px + 1vmin);
  margin: 10px 0;
}

.get-started-button {
  background-color: #FE6A01;
  color: white;
  border: none;
  padding: 10px 20px;
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.get-started-button:hover {
  background-color: #e39555;
}
